---
import type Producto from "src/models/Product";
/* 
const response = await fetch("https://tu-dominio.com/api/products");
const products: Producto[] = await response.json();
  * Tomar solo los 3 primeros
  const firstThree = products.slice(0, 3); 
*/

const arrayDePrueba: Producto[] = [
  {
    id: "1",
    nombreProducto: "WPC Wall Panel",
    stockProducto: 0,
    precioProducto: 0,
    image: "/imagen_3.png",
  },
  {
    id: "2",
    nombreProducto: "Selladora de Botellas",
    stockProducto: 0,
    precioProducto: 0,
    image: "/Selladora de Botellas.webp",
  },
  {
    id: "3",
    nombreProducto: "Selladora de Vasos",
    stockProducto: 0,
    precioProducto: 0,
    image: "/Selladora de Vasos.webp",
  },
];
---

<ul class="pd-container">
  {
    arrayDePrueba.map((item) => {
      return (
        <li class="pd-container__content group">
          <a 
            href={`/products/${item.id}`}
            class="pd-container__link"
          >
            <img
              src={item.image}
              alt={item.nombreProducto}
              class="pd-container__img"
            />
            {item.nombreProducto}
            <div class="pd-container__btn-info">
              Información
            </div>
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  @import "tailwindcss";

  .pd-container__btn-info {
    @apply my-8 place-self-center border border-teal-700 rounded-full px-5 py-2 w-fit group-hover:cursor-pointer group-hover:bg-teal-700 group-hover:text-white transition-colors duration-300
  }

  .pd-container {
    @apply w-full flex gap-8 overflow-x-auto lg:overflow-visible scroll-smooth px-4;
  }

  .pd-container__content {
    @apply bg-gradient-to-b to-white text-center justify-items-center text-teal-700 h-full group-hover:cursor-pointer
  }

  .pd-container__img {
    @apply w-4/5 place-self-center group-hover:scale-100 ease-in-out transition-transform duration-300 mb-10
  }

  .pd-container__link {
    @apply w-full h-full font-extrabold text-xl
  }
</style>