---
import { Image } from "astro:assets";
const props = Astro.props;
---

<div
  class="group relative w-full flex flex-col items-center cursor-pointer"
>
  <a
    href={`/productos#${props.id}`}
    class="relative block rounded-2xl overflow-hidden w-full aspect-[3/4] border border-teal-200
           hover:scale-[1.04] hover:shadow-2xl hover:border-teal-400 transition-transform duration-500 ease-out"
    title={props.imageTitle || props.title}
  >
    <Image
      src={props.image}
      alt={props.alt}
      title={props.imageTitle || props.alt}
      loading="lazy"
      class="absolute inset-0 w-full h-full object-cover object-center transition-transform duration-700 group-hover:scale-110"
    />

    <!-- Overlay con degradado -->
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/20 to-transparent z-10"
    ></div>

    <!-- Texto centrado inferior -->
    <div
      class="relative z-20 text-center flex flex-col justify-end items-center w-full px-4 py-6"
    >
      <h3
        class="text-2xl md:text-xl font-bold text-white drop-shadow-lg leading-tight"
      >
        {props.title}
      </h3>
    </div>
  </a>
</div>
