---
import Sidebar from "../components/admin/Sidebar";
import Header from "../components/admin/Header";
import "../styles/global.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-montserrat grid grid-cols-[auto_1fr] grid-rows-[auto_auto]">
    <!-- HEADER en la parte superior -->
    <Header title="PRINCIPAL" client:load />

    <div class="flex flex-1 h-full w-[100vw]">
      <Sidebar client:load />
      <div class="flex-1 pl-64 p-6 w-full">
        <slot />
      </div>
    </div>
  </body>
</html>
