---
// Layout.astro
import Sidebar from "../components/admin/Sidebar";
import Header from "../components/admin/Header";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="h-screen w-screen overflow-hidden">
    <!-- HEADER FIJO -->
    <Header title="PRINCIPAL" client:load/>

    <div class="pt-16 flex h-full">
      <!-- SIDEBAR FIJO -->
      <Sidebar client:load />

      <!-- CONTENIDO SCROLLABLE -->
      <main class="ml-64 mt-0 pt-8 w-full h-full overflow-y-auto">
        <slot />
      </main>
    </div>
  </body>
</html>
