---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import AdminDashboard from "../../components/admin/Admin";
import MainTable from "../../components/admin/MainTable";
---
<LayoutAdmin title="admin">
    <AdminDashboard client:only="react" />
    <div class="flex-1 p-4">
        <div class="p-4 w-full">
            {/* Botones de acciones generales */}
            <div class="flex flex-wrap gap-2 mb-4">
                <button class="bg-teal-500 text-white font-bold px-6 py-2 rounded-full">MENSAJES</button>
                <button class="bg-teal-500 text-white font-bold px-6 py-2 rounded-full">SEGUIMIENTO</button>
                <button class="bg-teal-500 text-white font-bold px-6 py-2 rounded-full">MONITOREO</button>
            </div>
            <MainTable />
        </div>
    </div>
</LayoutAdmin>
