---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import VentasTable from "src/components/admin/tables/VentasTable";
---
<LayoutAdmin title="VENTAS">
    <VentasTable client:only="react"/>
    <div class="flex-1 p-4">
    </div>
</LayoutAdmin>